.card img {
  max-width: 100%;
  height: auto;
  display: block;
  border-radius: 10px;
  margin-bottom: 10px;
}

.gallery img {
  max-width: 100px;
  height: auto;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  cursor: pointer;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
}