.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.gallery img:hover {
  transform: scale(1.1);
}

@media (min-width: 768px) {
  .card {
      display: flex;
      flex-direction: column;
      align-items: center;
  }

  .card img {
      max-width: 50%;
  }

  .gallery img {
      max-width: 150px;
  }
}
